/* footer */
.footer {
  padding: 48px 0 32px 0;
  color: #fff;

  @include pad {
    padding: 36px;
  }

  @include mobile {
    padding: 24px 0;
  }
}

.footer .nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 26.98px;
  position: relative;

  @include pad {
    padding: 0;
    margin-bottom: 22.98px;
    justify-content: flex-start;
  }

  @include mobile {
    margin-bottom: 0;
  }
}

.footer-nav {
  display: flex;
  align-items: center;
  
  @include pad {
    width: 100%;
    padding: 0 12px;
    margin-bottom: 12px;
  }

  @include mobile {
    display: none;
  }
}

.footer .social-media {
  display: flex;
  gap: 32px;
  
  @include pad {
    position: relative;
    top: unset;
    right: unset;
  }
  
  @include mobile {
    gap: 8px;
    position: absolute;
    top: 0px;
    right: 12px;
  }
}

.footer .social-media img {
  width: 48px;
  height: 48px;

  @include pad {
    width: 40px;
    height: 40px;
  }

  @include mobile {
    width: 24px;
    height: 24px;
  }
}

.footer .contact-info li {
  display: flex;
  align-items: center;
}

.footer .contact-info li a {
  font-size: 36px;
  line-height: 1.5;
  color: #fff;
  text-decoration: none;
  transition: ease-in 0.2s;
}

.footer .contact-info li a:hover {
  text-decoration: underline;
}

.footer .contact-info li span {
  font-size: 36px;
  margin-right: 22px;
  line-height: 1.5;
  vertical-align: middle;
}

@media (max-width: 576px) {
  .footer .contact-info li a,
  .footer .contact-info li span {
    font-size: 16px;
  }
}

.footer-nav a,
.policy a {
  color: #fff;
  text-decoration: none;
  margin-right: 48px;
  border-bottom: 2px solid transparent;

  @include pad {
    margin-right: 40px;
  }
}

.footer-nav a:hover,
.policy a:hover {
  border-bottom: 2px solid #fff;
}

.footer hr {
  margin: 32px 0;

  @include mobile {
    margin: 24px 0 16px;
  }
}

.footer .copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 614px) {
  .footer .copyright {
    flex-direction: column;
    align-items: flex-start;

    p {
      margin-bottom: 8px;
    }
  }

  .footer .policy ul {
    flex-direction: column;
    li {
      margin-bottom: 8px;
    }
  }
}

.footer .policy li:last-child a {
    margin-right: 0;
}